.template {
    height: 100vh;
    .sidebar {
        display: flex;
        width: 208px;
        height: 100vh;
        background-color: $dark;
        color: $text-light;
        flex-direction: column;

        .sidebar-header {
            float: left;
            width: 100%;
            padding: 16px;

            img,
            svg {
                cursor: pointer;
            }
        }
        .sidebar-content {
            float: left;
            width: 100%;
            padding: 16px 0px;

            a {
                float: left;
                width: 100%;
                padding: 10px;
                color: $white;
                svg {
                    margin-top: -4px;
                    margin-right: 5px;
                }
            }
            a:hover {
                color: $blue;
                background-color: $dark-hover;
            }
        }
    }

    .content {
        display: flex;
        flex-direction: column;
        width: calc(100% - 208px);
        height: 100vh;
        overflow: auto;
        background: rgb(225, 225, 225);
        background: linear-gradient(
            180deg,
            rgba(225, 225, 225, 1) 0%,
            rgba(255, 255, 255, 1) 10%
        );
        color: $dark;
        padding-top: 10px;
        padding-bottom: 18px;
    }

    //title page
    .title-page {
        font-size: 2rem;
        color: $dark;
        margin-bottom: 20px;
        font-weight: 300;

        small {
            display: block;
            width: 100%;
            font-size: 0.8rem;
            margin-top: 1px;
            color: $blue;
            text-transform: uppercase;
        }
    }

    .filter {
        background-color: $body-bg;
        .card-title {
            margin-bottom: 0rem;
        }
        .card-body {
            padding-left: 1rem;
            padding-right: 1rem;
            padding-top: 0.8rem;
            padding-bottom: 0.6rem;
        }
    }

    .cursor-default {
        cursor: not-allowed !important;
    }
}

//dropzone
.dropzone {
    height: 300px;
    background: #f1f1f1;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
    outline: 0;
}

.dropzone img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.dropzone p {
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    border-radius: 10px;
    border: 1px dashed #4ecb79;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #333;
    margin-top: 10px;
}

.dropzone p svg {
    color: #4ecb79;
    margin-bottom: 4px;
}

.dropzone_radius {
    width: 200px;
    height: 200px;
    background: #f1f1f1;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
    outline: 0;

    img{
        border-radius: 50%;
    }
}

.dropzone_radius p {
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    border-radius: 50%;
    border: 1px dashed #4ecb79;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #333;
    margin-top: 15px;
    text-align: center;
    font-size: 12px;
    padding: 12px;
}

.dropzone_radius p svg {
    color: #4ecb79;
    margin-bottom: 4px;
}

.photo-profile{
    display: block;
    width: 100%;
    height: 200px;
    position: relative;

    .photo-profile-header{
        width: 100%;
        height: 200px;
        position: absolute;
        background-color: $light;
        z-index: 0;
    }
    .dropzone_radius{
        top: 60px;
        position: relative;
        z-index: 99;
    }
    .photo-profile-name{
        display: block;
        margin-top: 70px;
        width: 100%;
        font-size: 20px;
        text-align: center;
        font-weight: bold;
    }
}

.loading-component{
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    text-align: center;
    z-index: 999;
    background: rgba(255, 255, 255, 0.6);

    
    div{
        display: flex;
        justify-content: center;
        align-content: center;
        justify-items: center;
        align-items: center;
        text-align: center;
        flex-direction:column;
        font-size: 14px;
        font-weight: 300;
    }
}



.iframe-responsive {
    position:relative;
    padding-bottom:56.25%;
    padding-top:30px;
    height:0;
    overflow:hidden;
  }
  .iframe-responsive iframe {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    border: 0px;
  }

  .thumb-theme{
      opacity: 0.3;
      cursor: pointer;
      transition: opacity 0.3s ease-in;


    &:hover{
        opacity: 1;
    }
  }
  .thumb-theme-active{
    opacity: 1;
  }

  .table-btn-group{
      .btn{
        min-width: 80px;
        max-width: auto;
        padding: 0.1rem 0.5rem;
        font-size: 12px;
      }
      .radius-left{
          border-top-left-radius: 20px;
          border-bottom-left-radius: 20px;
      }
      .radius-right{
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
    }
  }

  .dashboard-content{
    li{
        .card{
            width: 100%;
            height: 200px;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
            transition: box-shadow 0.3s ease-in-out;
            

            .card-body{
                width: 100%;
                height: 70px;
                min-height: 70px;
                max-height: 70px;
                margin-top: 25px;
                border-top: 1px solid rgba(0, 0, 0, 0.125);
                position: relative;

                .badge{
                    position: absolute;
                    top: 0px;
                    left: 50%;
                    transform: translateX(-50%) translatey(-50%);
                    width: 100px;
                    padding: 4px;
                    border-radius: 30px;
                    background: #fff;
                    border: 1px solid rgba(0, 0, 0, 0.125);
                    color: #666;
                    font-weight: normal;
                }
            }
            .card-title {
                margin-top: 15px;
                margin-bottom: 0rem;
                color: #666;
                font-size: 25px;
                font-weight: bolder;
            }
        }

        .card:hover {
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
        }
        
    }
}
.card-table-dashboard{
    min-height: 300px;
}
.cursor-pointer{
    cursor: pointer;
}