.template {
    height: 100vh;
    .sidebar {
        display: flex;
        width: 208px;
        height: 100vh;
        background-color: $dark;
        color: $text-light;
        flex-direction: column;

        .sidebar-header {
            float: left;
            width: 100%;
            padding: 16px;

            img,
            svg {
                cursor: pointer;
            }
        }
        .sidebar-content {
            float: left;
            width: 100%;
            padding: 16px 0px;

            a {
                float: left;
                width: 100%;
                padding: 10px;
                color: $white;
                svg {
                    margin-top: -4px;
                    margin-right: 5px;
                }
            }
            a:hover {
                color: $blue;
                background-color: $dark-hover;
            }
        }
    }

    .content {
        display: flex;
        flex-direction: column;
        width: calc(100% - 208px);
        height: 100vh;
        overflow: auto;
        background: rgb(225, 225, 225);
        background: linear-gradient(
            180deg,
            rgba(225, 225, 225, 1) 0%,
            rgba(255, 255, 255, 1) 10%
        );
        color: $dark;
        padding-top: 10px;
        padding-bottom: 18px;
    }

    //title page
    .title-page {
        font-size: 2rem;
        color: $dark;
        margin-bottom: 20px;
        font-weight: 300;

        small {
            display: block;
            width: 100%;
            font-size: 0.8rem;
            margin-top: 1px;
            color: $blue;
            text-transform: uppercase;
        }
    }

    .filter {
        background-color: $body-bg;
        .card-title {
            margin-bottom: 0rem;
        }
        .card-body {
            padding-left: 1rem;
            padding-right: 1rem;
            padding-top: 0.8rem;
            padding-bottom: 0.6rem;
        }
    }

    .cursor-default {
        cursor: not-allowed !important;
    }
}

//dropzone
.dropzone {
    height: 300px;
    background: #f1f1f1;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
    outline: 0;
}

.dropzone img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.dropzone p {
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    border-radius: 10px;
    border: 1px dashed #4ecb79;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #333;
    margin-top: 10px;
}

.dropzone p svg {
    color: #4ecb79;
    margin-bottom: 4px;
}

.dropzone_radius {
    width: 200px;
    height: 200px;
    background: #f1f1f1;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
    outline: 0;
}

.dropzone_radius p {
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    border-radius: 50%;
    border: 1px dashed #4ecb79;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #333;
    margin-top: 10px;
    text-align: center;
    font-size: 12px;
    padding: 12px;
}

.dropzone_radius p svg {
    color: #4ecb79;
    margin-bottom: 4px;
}
